.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
*.tfvars.json
!*.auto.tfvars
!*.auto.tfvars.json
!*.tfvars.example
.terraform.tfstate.lock.info
.build/
node_modules/
vendor/
.bundle/
dist/
.DS_Store
__pycache__/
*.pyc
