body {
  display: block;
  font-family: "Muli", sans-serif;
  padding: 2em;
  margin: 0;
}

main {
  padding: 2em;
  margin: 0;
  max-width: 800px;
  margin: 0px auto;
}

@media only screen and (max-width: 768px) {
  main {
    max-width: 100%;
    padding: 0;
  }
}

nav {
  background: #f9f9f9;
  border: 1px solid #ccc;
  padding: 2em;
  box-sizing: border-box;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav ul:first-child {
  padding: 0;
}

h1 {
  font-style: monospace;
}

a {
  color: inherit;
}

pre {
  overflow-x: auto;
  background: #f1f1f1;
  padding: 1em 20px;
  margin: 0;
}

