body {
  width: 500px;
  margin: 0px auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
}

header p {
  text-align: center;
}

.profile-picture {
  border-radius: 50%;
}

.links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.links li {
  display: inline;
  padding: 0 5px;
}

.sites {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.sites li {
  padding: 5px;
}
