body {
  max-width: 500px;
  margin: 0px auto;
  padding: 20px;
  font-family: "Muli", sans-serif;
  font-size: 0.9rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

header p {
  text-align: center;
}

.profile-picture {
  border-radius: 50%;
}

.publications {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.links li {
  display: inline;
  padding: 0 5px;
}

.sites {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.sites li {
  padding: 5px;
}

.technical-reviewer {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0d1117;
    color: #c9d1d9;
  }
  a {
    color: #58a6ff;
  }
  a:visited {
    color: #58a6ff;
  }
}
